.project {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
    overflow: hidden;
    margin: 1rem;

    &-title {
        width: 90%;
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
        margin: 0 0 1rem 0;
    }

    &-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            width: 3.5rem;
            height: 3.5rem;
            margin: 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 500px;
            position: relative;
            z-index: 5;
            background-color: rgb(75, 75, 75);
            color: var(--white);
            svg{
                position: relative;
                z-index: 6;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 0;
                height: 0;
                border-radius: 500px;
                background-color: var(--indigo);
                z-index: 3;
                transition: all 0.5s ease-in-out;
            }

            &:hover::before {
                width: 100%;
                height: 100%;
            }
        }
    }
}