@import "../../config";

.home {
	width: 100%;
	min-height: 100vh;

	&>section:nth-child(odd) {
		background-blend-mode: darken;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-color: rgba(0, 0, 0, 0.9);
	}

	&-hero {
		width: 100%;
		height: calc(100vh - var(--head-height));
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background-color: var(--black);
		color: var(--white);
		position: relative;

		@include respond(tab) {
			justify-content: flex-start;
			flex-flow: column;
			text-align: center;
		}

		&>* {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;

			@include respond(tab) {
				width: 100%;
				height: 50%;
			}
		}

		&-left {
			align-items: center;

			img {
				width: 22.5rem;
				height: 22.5rem;
				aspect-ratio: 1/1;
				border-radius: 16px;
			}
		}

		&-right {
			align-items: flex-start;
			flex-flow: column;

			@include respond(tab) {
				height: 35%;
				justify-content: space-evenly;
			}

			@include respond(tab) {
				padding: 0 1rem;
			}

			h1 {
				font-size: 5rem;
				line-height: 5.5rem;
				letter-spacing: 0.175rem;
				text-transform: uppercase;
				margin: 2.5rem 0;
				font-family: Audiowide, system-ui, -apple-system,
					BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
					Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

			}

			&-head {
				@include respond(tab) {
					width: 100%;
				}
			}

			span {
				font-size: 2.25rem;
				line-height: 3rem;
				letter-spacing: 0.1rem;
				margin: 1rem 0;
				font-family: Helvetica, sans-serif;
			}
		}

		&-scroll-btn {
			position: absolute;
			bottom: 1rem;
			left: 50%;
			transform: translate(-50%, 0);
			width: 2rem;
			height: 2rem;
			color: var(--white);
			animation: bounce 2s ease-in-out infinite;
		}
	}

	&-about {
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-flow: column;
		padding: 0 5% 0 7.5%;

		&-head {
			h1 {
				font-size: 4rem;
				line-height: 4.5rem;
				text-transform: uppercase;
				letter-spacing: 0.125rem;
			}

			margin: 2rem 0;
		}

		&-body {
			p {
				font-size: 1.5rem;
				line-height: 2rem;
				text-align: justify;
				width: 97.5%;
			}

			margin: 1rem 0;
		}
	}

	&-team {
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-flow: column;
		padding: 0 5%;
		background-color: var(--black);
		position: relative;

		&::before {
			position: absolute;
			content: "";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 25vw;
			height: 25vw;
			background-color: #1d79f2;
			opacity: 0.2;
			filter: blur(220px);
		}

		&-head {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 2rem;

			h1 {
				font-size: 3rem;
				line-height: 4rem;
				text-transform: uppercase;
				letter-spacing: 0.125rem;
				color: var(--white);
				font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			}
		}

		&-body {
			width: 100%;

			@include respond(tab) {
				margin-top: 3rem;
				margin-bottom: 3rem;
			}
		}
	}
}

@keyframes bounce {
	0% {
		transform: translate(-50%, 0);
	}

	25% {
		transform: translate(-50%, -0.25rem);
	}

	50% {
		transform: translate(-50%, 0);
	}

	75% {
		transform: translate(-50%, 0.25rem);
	}

	100% {
		transform: translate(-50%, 0);
	}
}