@import "../../config";

.home {
	width: 100vw;
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.9);
	color: var(--white);

	section {
		width: 100vw;
		height: 100vh;
		position: relative;
		z-index: 2;
		background-color: transparent;
		scroll-snap-align: start;
		overflow: hidden;
		padding-top: var(--head-height);

		&::before {
			content: '';
			width: 40%;
			height: 35%;
			position: absolute;
			top: 60%;
			left: 40%;
			background: #1C9BB2;
			filter: blur(190px);
			transform: rotate(90deg);
		}
	}

	&-hero {

		&-scroll {
			position: absolute;
			writing-mode: vertical-lr;
			right: 0;
			bottom: 7.5rem;
			padding: 0 2rem;
			cursor: crosshair;
			user-select: none;

			&__arrow {
				position: absolute;
				top: calc(100% + 1rem);
				left: 50%;
				transform: translateX(-50%);
				width: 1px;
				height: 4rem;
				background-color: var(--white);

				&::before,
				&::after {
					content: '';
					width: 1px;
					height: 0.5rem;
					background-color: var(--white);
					position: absolute;
					top: 100%;
				}

				&::before {
					transform: translate(0.2rem, -90%) rotate(45deg);
				}

				&::after {
					transform: translate(-0.2rem, -90%) rotate(-45deg);
				}
			}
		}
	}

	&-about {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--head-height) 5% 0 5%;

		&-left,
		&-right {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
		}

		&-group {
			width: 80%;
			height: 80%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			h1 {
				font-size: 2rem;
				font-weight: 700;
				text-align: center;
				margin-bottom: 1rem;
				text-transform: uppercase;
			}

			p {
				font-size: 1.125rem;
				font-weight: 400;
			}
		}
	}

	&-projects {
		&-body {
			width: 100vw;
			height: calc(75vh - 6rem);
			position: relative;
		}

		&-tray {
			width: 87.5vw;
			white-space: nowrap;
			overflow-x: scroll;
			position: absolute;
			top: 50%;
			left: 14vw;
			transform: translateY(-50%);
			z-index: 3;
			scroll-snap-type: x mandatory;

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}
		}
	}

	&-team {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-flow: column;

		&-group {
			position: relative;
			width: 80%;
			height: 40%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-flow: column;
			margin: 0 5% 0 0;

			&>h1 {
				font-size: 1.5rem;
				line-height: 2rem;
				font-weight: 700;
				margin: 1rem 0;
			}

			&__members {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				flex-flow: row wrap;
			}
		}

		&-btn {
			position: absolute;
			bottom: 2rem;
			right: 2rem;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			&__arrow {
				position: relative;
				width: 1rem;
				height: 1px;
				background-color: var(--white);
				margin: 0 1rem;

				&::before,
				&::after {
					content: '';
					position: absolute;
					left: 100%;
					top: 50%;
					width: 0.5rem;
					height: 1px;
					background-color: var(--white);
				}

				&::before {
					transform: translateX(-0.5rem) translateY(-0.2rem) rotate(45deg);
				}

				&::after {
					transform: translateX(-0.5rem) translateY(0.2rem) rotate(-45deg);
				}
			}

			&:hover &__arrow {
				width: 1.5rem;
			}
		}

		&-member {
			border-radius: 12px;
			perspective: 150rem;
			cursor: crosshair;
			width: 32vh;
			height: 32vh;

			&__front,
			&__back {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				backface-visibility: hidden;
				border-radius: 12px;
				box-shadow: var(--shadow-elevation-2dp);
				padding: 1rem;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				transition: all 0.5s ease-in-out;
			}

			&__front {
				transform: rotateY(0deg);

				@include respond(phone) {
					transform: rotateY(-180deg);
				}
			}

			&__back {
				transform: rotateY(180deg);
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				background-blend-mode: darken;
				flex-flow: column;
				background-color: rgba(0, 0, 0, 0.65);
				padding: 25% 0;
				text-align: center;

				@include respond(phone) {
					transform: rotateY(0deg);
				}
			}

			&__name {
				font-size: 2rem;
				line-height: 3rem;
				font-family: Arvo, Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			}

			&__status {
				margin: 1.5rem 0 0 0;
			}

			&:hover &__front {
				transform: rotateY(-180deg);
			}

			&:hover &__back {
				transform: rotateY(0deg);
			}
		}
	}
}