@import "../../config";

.home {
	width: 100vw;

	&-arrows {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		background-size: cover;
		background-blend-mode: darken;
		background-color: rgba(0, 0, 0, 0.65);
		background-position: center;
		z-index: 1;

		&-left,
		&-right {
			height: 100%;
			width: 12.5%;
			position: absolute;

			&__img {
				width: 9.1875vw;
				height: 9.1875vw;
				height: auto;
				position: absolute;
				right: 0;
				top: 10vh;
				display: flex;
				justify-content: flex-end;
				align-items: flex-end;

				&::before {
					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					width: 4px;
					height: calc(90vh - 9.1875vw);
					background-color: #d9d9d9;
				}
			}
		}

		&-left {
			left: 0;
		}

		&-right {
			right: 0;
			transform: rotate(180deg);
		}
	}

	section {
		width: 100vw;
		height: 100vh;
		position: relative;
		z-index: 2;
		background-color: transparent;
		scroll-snap-align: start;
	}

	&-hero {
		color: var(--white);

		&-content {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			white-space: nowrap;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 4rem;
			line-height: 6rem;
			font-weight: 600;
		}

		&-socials {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-flow: column;
			padding: 0 2rem;
			padding-bottom: 5rem;
			position: absolute;
			left: 0;
			bottom: 0;

			a {
				margin: 0.75rem auto;
				width: 2rem;
				height: 2rem;
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}

		&-scroll {
			position: absolute;
			writing-mode: vertical-lr;
			right: 0;
			bottom: 7.5rem;
			padding: 0 2rem;
			cursor: crosshair;
			user-select: none;

			&__arrow {
				position: absolute;
				top: calc(100% + 1rem);
				left: 50%;
				transform: translateX(-50%);
				width: 1px;
				height: 4rem;
				background-color: var(--white);

				&::before,
				&::after {
					content: '';
					width: 1px;
					height: 0.5rem;
					background-color: var(--white);
					position: absolute;
					top: 100%;
				}

				&::before {
					transform: translate(0.2rem, -90%) rotate(45deg);
				}

				&::after {
					transform: translate(-0.2rem, -90%) rotate(-45deg);
				}

				// &::after{
				// 	transform: translateX(-50%) rotate(-45deg);
				// }
			}
		}

		&-moon {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 80%;
			transform: translateX(-50%);
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	&-about,
	&-projects,
	&-team {
		width: 100%;
		margin: 0 auto;
		color: var(--white);

		&-head {
			width: 75%;
			font-size: 3.25rem;
			line-height: 5rem;
			letter-spacing: 0.25rem;
			word-spacing: 0.75rem;
			text-transform: uppercase;
			margin: 0 auto;
			padding: 10vh 2.5vw 1rem 2.5vw;
			font-family: 'Audiowide', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		}

		&-body {
			width: 75%;
			font-size: 1.3rem;
			line-height: 1.8rem;
			font-weight: 100;
			margin: 2rem auto;
			padding: 2rem 2.5vw;
		}
	}

	&-projects {
		&-body {
			width: 100vw;
			height: calc(75vh - 6rem);
			position: relative;
		}

		&-tray {
			width: 87.5vw;
			white-space: nowrap;
			overflow-x: scroll;
			position: absolute;
			top: 50%;
			left: 14vw;
			transform: translateY(-50%);
			z-index: 3;
			scroll-snap-type: x mandatory;

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}
		}
	}

	&-team {
		&-body {
			position: relative;
			width: 100%;
			height: calc(75vh - 6rem);
		}

		&-member {
			border-radius: 50%;
			// overflow: hidden;
			perspective: 150rem;
			cursor: crosshair;

			&:nth-child(1) {
				width: 21rem;
				height: 21rem;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:nth-child(2) {
				width: 17.5rem;
				height: 17.5rem;
				position: absolute;
				top: 40%;
				right: 20%;
				transform: translate(50%, -100%);
			}

			&:nth-child(3) {
				width: 17.5rem;
				height: 17.5rem;
				position: absolute;
				top: 50%;
				left: 20%;
				transform: translate(-50%, -25%);
			}

			&__front,
			&__back {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				backface-visibility: hidden;
				border-radius: 50%;
				box-shadow: var(--shadow-elevation-2dp);
				padding: 1rem;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				transition: all 0.5s ease-in-out;
			}

			&__front {
				transform: rotateY(0deg);

				@include respond(phone) {
					transform: rotateY(-180deg);
				}
			}

			&__back {
				transform: rotateY(180deg);
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				background-blend-mode: darken;
				flex-flow: column;
				background-color: rgba(0, 0, 0, 0.65);
				padding: 25% 0;
				text-align: center;

				@include respond(phone) {
					transform: rotateY(0deg);
				}
			}

			&__name {
				font-size: 2rem;
				line-height: 3rem;
				font-family: Arvo, Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			}

			&__status {
				font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
			}

			&:hover &__front {
				transform: rotateY(-180deg);
			}

			&:hover &__back {
				transform: rotateY(0deg);
			}
		}
	}
}